clusters=cluster_prod, cluster_preprod

[cluster_prod]
  name=cluster_prod
  servers=srv1_prod, srv2_prod

[cluster_preprod]
  name=cluster_preprod
  servers=srv1_preprod, srv2_preprod

[srv1_prod]
  ip=127.0.0.1
  port=80
  burl=balancer-manager
  vhosts=myvhost,
[srv2_prod]
  ip=127.0.0.1
  port=81
  burl=balancer-manager
  vhosts=myvhost,

## No vhost defined - default to ''
## no burl defined - default to balancer-manager
[srv1_preprod]
  ip=127.0.0.1
  port=82
[srv2_preprod]
  ip=127.0.0.1
  port=83

[myvhost]
  name=localhost
  burl=balancer-manager
